body {
    background-color: purple;
    background-image: url(/images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
}