body {
    padding: 70px 40px 70px 40px;
    background-color:$purple;
    background-image: url('/images/bg-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;

    @media screen and (min-width: 640px) {
        background-image: url('/images/bg-desktop.svg');
        padding: 60px 80px 40px 80px;
        
    }
}